footer{
    background-color:#ffffff;
    height:60px;
    line-height:60px;
    width:100%;
    bottom:0px;
    position: absolute;
    text-align: center;
}

footer p{
    height:60px;
    line-height:60px;
    margin:0;
}
